.navbar{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px lightgray;
    padding: 1rem;
    
    
    h1{
        color: rebeccapurple;
        text-align: center;
    }

}